<?xml version="1.0"?>
<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="true">
    <testsuite name="All">
        <directory>./</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./../../main</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html"
             target="./../../../../artifact/Test-Coverage/Unit/PHPUnit"
             lowUpperBound="75"
             highLowerBound="90"
        />
        <log type="coverage-clover"
             target="./../../../../artifact/Test-Coverage/Unit/clover.xml"
        />
    </logging>
</phpunit>
